# Copia este archivo como .env y completa con tus credenciales locales
# El archivo .env está en .gitignore — nunca lo subas al repo

DB_URL=jdbc:mysql://localhost:3306/splitsnap_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=America/Lima
DB_USERNAME=root
DB_PASSWORD=TU_PASSWORD_DE_MYSQL

# JWT
JWT_SECRET=splitsnap_jwt_secret_key_2026_desarrollo
JWT_EXPIRATION=86400000
